body{
    background-color: rgb(121, 178, 228);
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    width: 500px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.103);
    margin: auto;
    
}
div{
    text-align: center;
    padding: 8px;
}
#msg{
    font-size: 30px;
    font-family:fantasy;
    color: rgb(73, 66, 66);

}

footer{
    text-align: center;
    font-style: italic;
    color: white;
}
